@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}

h1 {
    font-size: 80px;
    color: #bac2de;
    margin-bottom: 35px;
}

.selection {
    width: 100%;
    display: flex;
    border: 1px solid #cdd6f4;
    border-radius: 40px;
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 600;
    padding: 25px;
    /* height: 100%; */
}

.selection p {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #cdd6f4;
    padding-bottom: 10px;
}

.player-selection,
.computer-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.mid-line {
    background-color: #cdd6f4;
    margin: 0 25px;
    width: 1px;
}

.selection-img {
    padding-top: 20px;
    max-width: 100%;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
}

.selection-img img {
    width: 250px;
    height: 250px;
}

.result {
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
    color: #b4befe;
    margin-bottom: 30px;
    display: none;
}

.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);    
    gap: 30px;
    justify-items: center;
    margin-bottom: 65px;
}

.element {
    width: 275px;
    height: 275px;
    cursor: pointer;
    user-select: none;
    border-radius: 40px;
}

.element:hover {
    background-color: #cdd6f410;
    transition: all 0.25s ease-in-out;
}

.element img {
    width: 100%;
    height: 100%
}

.history {
    width: 100%;
    border: 1px solid #cdd6f4;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 35px;
    font-weight: 600;
    flex-direction: column;
}

.history h1 {
    font-size: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cdd6f4;
    margin-bottom: 15px;
}

.history--sections {
    display: flex;
    flex-direction: row;
}

.player-history, .computer-history {
    width: 40%;
}

.winner {
    width: 20%;
}

.history-title {
    border-bottom: 1px solid #cdd6f4;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.player-history div, .computer-history div {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
}

span {
    background-color: #cdd6f4;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: block;
}

.history--winner {
    font-size: 28px;
    font-weight: 500;
}